Source: rt73-legacy
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5.0.37), bzip2
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.berlios.de/fullstory/rt73-legacy/trunk
XS-Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/rt73-legacy/trunk/

Package: rt73-legacy-source
Architecture: all
Depends: module-assistant, debhelper (>= 5.0.37), bzip2
Description: source for the serialmonkey rt73-legacy driver
 This package provides the source code for the rt73-legacy kernel module.
 The rt73-legacy package is also required in order to make use of these
 module. Kernel source or headers are required to compile these modules.
